venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
dist/
build/
.venv/
env/
node_modules/
.DS_Store
.vscode/
.idea/
*.log
*.sqlite3
.env
/.m2/
.coverage
output.xml
log.html
report.html
ipynb_checkpoints/
screenshots/
*.png
venv/
*.pyc
__pycache__/
.pabotsuitenames
log.html
output.xml
report.html
selenium-screenshot-*.png
playwright-log.txt